body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.main {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.root {
  width: 500px;
  text-align: right;
  border: 4px solid grey;
  border-radius: .5rem;
}

.calc {
  width: 500px;
}

.input-value {
  margin-right: 7px;
}

button {
  width: 125px;
  padding: 1rem;
  background-color: grey;
}

.btn2 {
  background-color: red;
}

.number {
  background-color: #C0C0C0;
}

.number:hover {
  background-color: #d3d3d3;
}

.operand {
  background-color: #ff5e13;
}

.operand:hover {
  background-color: #cf5e13;
}

.row4 .number:first-child {
  width: 250px;
}