* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.main {
  font-size: 28px;
  font-weight: 600;
  padding: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.list {
  display: inline-flex;
}

.list li {
  padding: 5px;
}

.root {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.root-home {
  text-align: center;
  padding: 40px;
}

.root-calc {
  width: 705px;
  text-align: right;
  border: 4px solid grey;
  border-radius: 0.5rem;
}

.calc {
  width: 700px;
}

.input-value {
  margin-right: 15px;
  height: 100px;
  font-size: 48px;
}

.para {
  padding: 25px;
}

button {
  width: 175px;
  height: 100px;
  padding: 1rem;
  background-color: grey;
  border: 1px solid grey;
}

.btn2 {
  background-color: red;
}

.number {
  background-color: #c0c0c0;
}

.number:hover {
  background-color: #d3d3d3;
}

.operand {
  background-color: #ff5e13;
}

.operand:hover {
  background-color: #cf5e13;
}

.row4 .number:first-child {
  width: 350px;
}

@media screen and (max-width: 550px) {
  .main {
    text-align: center;
  }

  .root,
  .calc {
    width: 352px;
  }

  button {
    width: 88px;
  }

  .row4 .number:first-child {
    width: 176px;
  }
}
